# Sets

A set is unordered collection data type that is iterable, muteable, and has no duplicate elements. Python's sets class reperesents the mathematical notation of set. This is based on a data structure known as a hash table.

In [1]:
set_var = set()
print(set_var)
type(set_var)

set()

set

In [2]:
set_var = {'Ironman', 'Hulk', 'Captin-america', 'Thor', 'Hawk_eye', 'Black_wido'}

In [3]:
print(set_var)

{'Thor', 'Hulk', 'Captin-america', 'Hawk_eye', 'Black_wido', 'Ironman'}

In [4]:
type(set_var)

set

In [5]:
set_int = {1, 2, 3, 4, 3}

In [6]:
set_int

{1, 2, 3, 4}

In [8]:
# Set doesn't support indexing
#set_var[0]

In [9]:
# inbuild function
set_var.add('Baki')

In [10]:
set_var

{'Baki', 'Black_wido', 'Captin-america', 'Hawk_eye', 'Hulk', 'Ironman', 'Thor'}

In [18]:
set_var1 = {'Avengers', 'IronMan', 'HitMan'}
set_var2 = {'Avengers', 'IronMan', 'HitMan', 'Hulk'}

In [19]:
set_var2.intersection(set_var1)

{'Avengers', 'HitMan', 'IronMan'}

In [20]:
# Intersection_update
set_var2.intersection_update(set_var1)

In [21]:
print(set_var2)

{'Avengers', 'IronMan', 'HitMan'}

In [17]:
print(set_var2)

{'Hulk'}

In [12]:
# Difference

set_var2.difference(set_var1)

{'Hulk'}

In [13]:
set_var2

{'Avengers', 'HitMan', 'Hulk', 'IronMan'}

In [14]:
# Difference_Update
set_var2.difference_update(set_var1)

In [15]:
print(set_var2)

{'Hulk'}

In [22]:
fruits = {"apple", "banana", "cherry"}

In [23]:
# clear method
fruits.clear()

In [24]:
fruits

set()

In [25]:
fruits = {"apple", "banana", "cherry"}

In [26]:
# Inbuild copy() method

x = fruits.copy()

In [27]:
x

{'apple', 'banana', 'cherry'}

In [28]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

In [29]:
# join more than 2 differences
myset = a.difference(b, c)

In [30]:
myset

{'banana'}

In [31]:
# The discard() method removes the specified item from the set.
fruits = {"apple", "banana", "cherry"}

In [32]:
fruits.discard('apple')

In [33]:
fruits

{'banana', 'cherry'}

In [34]:
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

In [35]:
x.isdisjoint(y)

True

In [36]:
"""
The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.

As a shortcut, you can use the <= operator instead, see example below.
"""

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [37]:
x.issubset(y)

True

In [41]:
y<=x

True

In [39]:
'''
The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

As a shortcut, you can use the >= operator instead, see example below.
'''
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

In [42]:
x.issuperset(y)

True

In [44]:
x >= y

True

In [45]:
'''
The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove()
method will raise an error if the specified item does not exist, and the discard() method will not.
'''
fruits = {"apple", "banana", "cherry"}
fruits.remove('apple')

In [46]:
fruits

{'banana', 'cherry'}

# Dictonaries

A dictornary is a collection which is unordered, changeable and indexed. in python dictionaries are written with curly braces
and they have keys and values.

In [47]:
dct = {}

In [48]:
type(dct)

dict

In [50]:
# lets create a dictionary

my_dict = {'car1':'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz'}

In [51]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz'}

In [52]:
type(my_dict)

dict

In [53]:
my_dict['car1']

'Audi'

In [54]:
# loop through the dictionaries keys
for i in my_dict:
    print(i)

car1
car2
car3

In [57]:
for j in my_dict.values(): # loop through the dict values
    print(j)

Audi
BMW
Mercidies Benz

In [58]:
for i in my_dict.items(): # checking both keys and values
    print(i)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies Benz')

In [59]:
# adding items in Dictionaries
my_dict['car4'] = 'Toyota'

In [60]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Toyota'}

In [61]:
lst = []

In [62]:
for i in my_dict.values(): 
    lst.append(i) # values are adding in the list

In [63]:
lst

['Audi', 'BMW', 'Mercidies Benz', 'Toyota']

In [64]:
type(lst)

list

In [65]:
my_dict['car1'] = 'VW' # replacing Audi to VW

In [66]:
my_dict

{'car1': 'VW', 'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Toyota'}

# Nested Dictionary

In [67]:
car1_model = {'Mercidies': 2024}
car2_model = {'Audi': 2022}
car3_model = {'BMW': 2023}

In [68]:
car_type = {'car1': car1_model, 'car2': car2_model, 'car3': car3_model}

In [69]:
type(car_type)

dict

In [70]:
print(car_type)

{'car1': {'Mercidies': 2024}, 'car2': {'Audi': 2022}, 'car3': {'BMW': 2023}}

In [72]:
# Accesing the items in the dictionary
car_type['car1']

2024

In [73]:
car_type['car1']['Mercidies'] # getting the values from nested dict

2024

# Tupels

In [74]:
# create an emty tuples 
my_tuple = tuple() # tipule is immutable method

In [75]:
type(my_tuple)

tuple

In [76]:
mytuple = ("apple", "banana", "cherry")

In [79]:
mytuple[0]# indexing

'apple'